
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 30px;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}


#navbar ul li a{
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 550px;
}

#home::before{
    content: " ";
    position: absolute;
    background: url('./img/spaghetti-1932466_1920.jpg') no-repeat center center/cover;
    height: 640px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-size: 1.rem;
    
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;

}

.services{
    margin: 34px;
    display: flex;
    font-family: "Playfair Display", serif;
}
.services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #ece8e8;
}
.services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

.client-section{
    position: relative;
}

.client-section::before{
    content: " ";
    position: absolute;
    background: url('./img/salad-2068220_1280.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.client{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client img{
    height: 120px;
}

.client-item{
    padding: 34px;
}

.contact{
    position: relative;
}
.contact::before{
    content: " ";
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    font-size: 1.1rem;
    background: url('./img/contact-us-6933645_1280.jpg') no-repeat center center/cover;
}

#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

footer{
    background: #000;
    color: white;
    padding: 9px 20px;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
}
.h-secondry{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(182, 33, 28);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}